site_name: DSIS Python Client
site_url: https://equinor.github.io/dsis-python-client/
theme:
  name: material

nav:
  - Home: index.md
  - Guides:
    - Getting Started: guides/getting-started.md
    - QueryBuilder Guide: guides/query-builder.md
    - Advanced Serialization: guides/advanced-serialization.md
  - API:
    - Summary: api/index.md
