name: Build

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  build:
    name: Build
    uses: equinor/ops-actions/.github/workflows/python-package.yml@v9.32.0
    permissions:
      contents: read
