name: Publish Docs

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions: {}

jobs:
  build:
    name: Build
    uses: equinor/ops-actions/.github/workflows/mkdocs.yml@v9.28.0
    with:
      requirements: requirements-docs.txt
      upload_artifact: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: read

  publish:
    name: Publish
    needs: build
    if: needs.build.outputs.artifact_uploaded == 'true'
    uses: equinor/ops-actions/.github/workflows/github-pages.yml@v9.28.0
    with:
      artifact_name: ${{ needs.build.outputs.artifact_name }}
    permissions:
      pages: write
      id-token: write
