name: Test

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  test:
    name: Test
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    permissions:
      contents: read
    uses: equinor/ops-actions/.github/workflows/python.yml@feat/python/run-pytest
    with:
      python_version: ${{ matrix.python-version }}
      requirements: "."
